<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <!-- <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" /> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
   
  </head>
  <body>
      <div>hello</div>
      <div>2</div>
      <!-- <script src="https://unpkg.com/yunlibiary@1.0.1/dist/webpack-numbers.js"></script> -->
      <script>
      //   // ...
      //   // 全局变量
      // var a =  webpackNumbers.wordToNum('Five');
      // console.log(a);
      //   // window 对象中的属性
      //   window.webpackNumbers.wordToNum('Five')
      //   // ...
      </script>
  </body>
</html>